* {
    box-sizing: border-box;
}

html,body{
	font-family: 'Roboto', sans-serif;
	font-size:16px
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
	background-color: #F5F6FA;
}

h1{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight: normal;
	color: white;
}

button {
	border:none;
}
a {
	text-decoration: none;
}

.map-nav-btn {
	position: relative;
	display: block;
	margin: 5px 5px;
	padding-left: 36px;
	height: 36px;
	width: 150px;
	border-radius: 18px;
	background-color: #2D3A4B;
	color: white;
	opacity: 0.75;
	text-align: left;
	font-size:12px;
	
}

.fixed-header {
        position: fixed;
	top: 0;
	left: 0;
	margin: 0;
        width: 100%;
        height: 80px;
	background-color: #58C3B7;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
        z-index: 1;
}
.title {
	position:absolute;
	top: 16px;
	left: 72px;
	width: 220px;
	height: 30px;
}
.map-nav-container {
	position: fixed;
	bottom: 140px;
	left: 0px;
	padding: 0px;
	margin: 0;
	z-index: 1;
}
#nav-btn {
	display: inline-block;
	margin: 16px 0 0 16px;
	padding: 0;
	background-color: Transparent;
	outline: none;
}

#myElement {
  background: white;
  height: 100%;
  text-align: center;
  z-index: 2;
}
		
#menu-btn {
	display: inline-block;
	float: right;
	margin: 16px 16px 0 0;
	padding: 0;
	background-color: Transparent;
	outline: none;
}
.nav-icon {
	font-size: 28px!important;
	color: white;
}

.btn-disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.map-nav-btn-icon {
	position:absolute;
	left: 6px;
	font-size: 22px!important;
	color: white;
}

.inline-block {
    display: inline-block;
}

#place-box {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    position: absolute;
	bottom: 20px;
    left: 10px;
	padding: 0px;
	margin: 0;
    width:90%;
    height: 100px;
	z-index: 1;
}

#next-stop-btn {
    background-color: #2D3A4B;
	color: white;
	opacity: 0.75;
    position: absolute;
	bottom: 40px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    z-index: 2;
    
    
}

/*--------------*/
.centered-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

.centered-y {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/*--------------*/